<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/notification/?token=7d43a3cb9a59724c839b4ff0ffa84b61da0e5ede');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            console.log(message);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</head>
<body>

</body>
</html>