<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notification test</title>
    <script>
        const sp = window.location.href.split('?');
        let params = '';
        if (sp.length === 2) {
            params = '?' + sp[1];
        }

        const chatSocket = new WebSocket('wss://' + window.location.host + '/ws/notification/' + params);

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const message = data['message'];
            console.log(message);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</head>
<body>

</body>
</html>